<h1 class="d-flex justify-content-center">Cohort Dashboard</h1>


<h3 class="d-flex justify-content-center">Administrator</h1>
<h4 class="d-flex justify-content-center">THE NAME OF THE ADMINISTRATOR GOES HERE</h4>



<div class="container">
  <div class="row">
   <ul class="nav nav-tabs">
  <li class="nav-item">
    <p class="nav-link "> <%= link_to "Create", new_cohort_path %></p>
  </li>
  </ul>
  </div>
 </div>

<% if @cohort.blank? %>
<p> There are no cohorts currently in the system.</p>
<h1>Cohort Listing</h1>
 <% else %>
<table> 
  <% @cohort.each do |cohort| %>
    <tr>
      <td><%= cohort.cohort_name %></td>
      <td><%= cohort.cohort_start_date %></td>
      <td><%= cohort.cohort_end_date %></td>
      <td><%= link_to 'Edit', edit_cohort_path(cohort.id) %></td>
      <td><%= link_to 'Destroy', cohort_path(cohort.id),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td><br>
    </tr>
  <% end %>
  <% end %>
</table>
