<h1>Cohort#new</h1>
<p>Find me in app/views/cohort/new.html.erb</p>


<%= form_with scope: :cohort, model: @cohort, local: true do |form| %>
  
<div class="form-group">
    <%= form.label :cohort_name %><br>
    <%= form.text_field :cohort_name %>
</div>
 
<div class="form-group">
    <%= form.label :cohort_start_date %><br>
    <%= form.date_field :cohort_start_date%>
</div>
 
 <div class="form-group">
    <%= form.label :cohort_end_date%><br>
     <%= form.date_field :cohort_end_date%>
</div>

<div>
<p class="form-control input-sm selectpicker"><%= form.label :courses_id %>
<%= form.select(:courses_id, @course)%></p>
  <%# <%= form.collection_select(:course, :courses_id, @course, :id, :course_name, :prompt => true) %> 

<p class="form-control input-sm selectpicker"><%= form.label :teachers_id %>
<%= form.select(:teachers_id,  @teacher)%></p>


<br/>

  <div>
    <%= form.submit %>
  </div>
<%end%>
