<h1>Cohort#show</h1>
<p>Find me in app/views/cohort/show.html.erb</p>

<div>
  <strong>Cohort-ID:</strong>
  <%= @cohort.id%>
  <strong>Cohort:</strong>
  <%= @cohort.cohort_name%>
</div>
 
<div>
  <strong>Start Date:</strong>
  <%= @cohort.cohort_start_date %>
</div>

<div>
  <strong>End Date:</strong>
  <%= @cohort.cohort_end_date %>

  <strong>Course:</strong>
  <%= @cohort.courses_id%>

  <strong>Teacher:</strong>
  <%= @cohort.teachers_id %>  

  <strong>Class size:</strong>
  <%= @classSize %>
</div>

  <h3>List of Cohorts</h3>
  
     <%# <%@costuSize = CohortStudent.all.size%> 
     <%# theCohort = CohortStudent.where(cohort_id:17) %>
    <%@costu.each do |new_class| %>
      <tr>
        <%# <td>Cohort-Name<%=  %></td> 
        <td>Cohort-ID: <%= new_class.cohort_id %></td>
        <td>Student-ID: <%= new_class.student_id %></td>  
        <td>Student-Name: <%=  new_class.student.first_name%> <%=  new_class.student.last_name%></td>
        <td>Student-Age: <%= new_class.student.age %></td>  
        <td>Student-Education: <%= new_class.student.education%></td> 
      </tr><br>
    <% end %>
<br><br>


<%= link_to 'Dashboard', admin_pages_path(@cohort) %>