<h1>Sign Up</h1>

<%= form_with scope: :admins, model: @admin do |form|%>
    <div>
        <%= form.label :name %>
        <%= from.text_field :name %>
    </div>
    <div>
        <%= form.label :email %>
        <%= form.text_field :email%>
    </div>
    <div>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>
  <div>
    <%= form.submit "Sign up!" %>
  </div>
<% end %>
