<h1 class="d-flex justify-content-center">Student Dashboard</h1>


<h3 class="d-flex justify-content-center">Administrator</h1>
<h4 class="d-flex justify-content-center">THE NAME OF THE ADMINISTRATOR GOES HERE</h4>



<div class="container">
  <div class="row">
   <ul class="nav nav-tabs">
  <li class="nav-item">
    <p class="nav-link "> <%= link_to "Create", new_student_path %></p>
  </li>
</ul>
</div>
</div>
<h1>List of Students</h1>
<% if @students.blank? %>
<p> There are no students currently in the system.</p>
<% else %>
<% @students.each do |student|%>
<table>
<tr id="student<%= student.id %>">
    <td>Student-ID:<%= student.id%> </td><br>
    <td> <%= student.username%> </td>
    <td>First Name: <%= student.first_name%> </td>
    <td>Last Name: <%= student.last_name%> </td>
    <td>Age: <%= student.age%> </td>
    <td>Education: <%= student.education%> </td>
    <td>Cohort-ID: <%= student.cohort_id%> </td>
    <td><%= link_to 'Edit', edit_student_path(student.id) %></td>
    <td><%= link_to 'Destroy', student_path(student.id), remote: true,
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td><br>
</tr>
<% end %>
<% end %>
</table>