<h1>Student#new</h1>
<p>Find me in app/views/student/new.html.erb</p>




<%= form_with scope: :student, model: @student, local: true do |form| %>
  <div>
    <%= form.label :username %><br>
    <%= form.text_field :username %>
  </div>
 
  <div>
    <%= form.label :password %><br>
     <%= form.text_field :password%>
  </div>
 
 <div>
    <%= form.label :first_name %><br>
     <%= form.text_field :first_name %>
  </div>
  <div>
    <%= form.label :last_name %><br>
     <%= form.text_field :last_name %>
  </div>
  <div>
    <%= form.label :age %><br>
    
     <%= form.text_field :age %>
     
  </div>
  <div>
    <p class="form-control input-sm selectpicker"><%= form.label :education_id %>
      <%= form.label :education %>
     <%= form.text_field :education%></p>
    <%# # <%= form.select(:education_id, @edu)%>  
    
  
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>