<h1 class="text-center">Create a Student</h1>
<hr>




<%= form_with scope: :student, model: @student, local: true do |form| %>
  <div class="form-group">
    <%= form.label :username %><br>
    <%= form.text_field :username %>
  </div>
 
  <div class="form-group">
    <%= form.label :password %><br>
     <%= form.text_field :password%>
  </div>
 
 <div class="form-group">
    <%= form.label :first_name %><br>
     <%= form.text_field :first_name %>
  </div>
  <div class="form-group">
    <%= form.label :last_name %><br>
     <%= form.text_field :last_name %>
  </div>
  <div class="form-group">
    <%= form.label :age %><br>
    <%= @student.errors.full_messages_for(:age) if @student.errors.include?(:age) %>
     <%= form.text_field :age %>
     
  </div>
  <div>
    <p class="form-control input-sm selectpicker"><%= form.label :education_id %>
      <%= form.label :education %>
     <%= form.text_field :education%></p>
    <%# # <%= form.select(:education_id, @edu)%>  
    
  
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>