<h1>Student#show</h1>
<p>Find me in app/views/student/show.html.erb</p>

<tr>
    <td> <%= @student.id%> </td>
    <td> <%= @student.username%> </td>
    <td> <%= @student.first_name%> </td>
    <td> <%= @student.last_name%> </td>
    <td> <%= @student.age%> </td>
    <td> <%= @student.education%> </td><br><br>
</tr>
<br>
<br>
<br>
<%= link_to 'Dashboard', admin_pages_path(@students) %>