<h1 class="text-center">Edit Course</h1>
<hr>

<%= form_with scope: :course, model: @course, local: true do |form| %>
  <div class="form-group">
    <%= form.label :course_name %><br>
    <%= form.text_field :course_name  %>
  </div>
 
  <div class="form-group">
    <%= form.label :course_hours  %><br>
    <%= @course.errors.full_messages_for(:course_hours) if @course.errors.include?(:course_hours) %>
     <%= form.text_field :course_hours%>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Dashboard', admin_pages_path(@courses) %>