<h1 class="d-flex justify-content-center">Course Dashboard</h1>


<h3 class="d-flex justify-content-center">Administrator</h1>
<h4 class="d-flex justify-content-center">THE NAME OF THE ADMINISTRATOR GOES HERE</h4>


<div class="container">
  <div class="row">
   <ul class="nav nav-tabs">
      <li class="nav-item">
        <p class="nav-link "> <%= link_to "Create", new_course_path %></p>
      </li> 
  </ul>
  </div>
</div>
<h1>List of Courses</h1>
<% if @courses.blank? %>
<p> There are no teachers currently in the system.</p>
<% else %>
<% @courses.each do |course|%>
<tr>
    <td>Course-ID: <%= course.id%> </td>
    <td>Course Name: <%= course.course_name%> </td>
    <td>Course Hours: <%= course.course_hours%> </td>
    <td><%= link_to 'Edit', edit_course_path(course.id) %></td>
    <td><%= link_to 'Destroy', course_path(course.id),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td><br>
</tr>
<% end %>
<% end %>
