<h1 class="d-flex justify-content-center">Course Dashboard</h1>


<h3 class="d-flex justify-content-center">Administrator</h1>
<h4 class="d-flex justify-content-center">THE NAME OF THE ADMINISTRATOR GOES HERE</h4>
<hr>

<div class="container">
  <div class="row">
   <ul class="nav nav-tabs">
      <li class="nav-item">
        <p class="nav-link "> <%= link_to "Create", new_course_path %></p>
      </li> 
  </ul>
  </div>
</div>
<h1>List of Courses</h1>
<% if @courses.blank? %>
<p> There are no teachers currently in the system.</p>
<% else %>
<div class="container">
<div class="row"> 
<% @courses.each do |course|%>
    <div class="col-4"> 
    <div class="card border border-primary rounded" style="width: 18rem;">
    <table>
        <tr id="course<%= course.id %>" class="list-group">
        <td class="list-group-item">Course-ID: <%= course.id%> </td>
        <td class="list-group-item">Course Name: <%= course.course_name%> </td>
        <td class="list-group-item">Course Hours: <%= course.course_hours%> </td>
        <td><%= link_to 'Edit', edit_course_path(course.id) %></td>
        <td><%= link_to 'Destroy', course_path(course.id), remote: true,
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></td><br>
        </tr>
        </table>
        </div>
      </div>
      <% end %>
    </div>
    
  </div>
<% end %>

