<h1>Course#new</h1>
<p>Find me in app/views/course/new.html.erb</p>



<%= form_with scope: :course, model: @course local: true do |form| %>
  
   <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@course.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @course.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <p>
    <%= form.label :course_name %><br>
    <%= form.text_field :course_name %>
  </p>
 
  <p>
    <%= form.label :course_hours %><br>
     <%= form.text_field :course_hours%>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>